/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable keyframes-name-pattern */

/**
 * radix-ui
 * <https://www.radix-ui.com/themes/docs/overview/getting-started>
 */
@import '@radix-ui/themes/styles.css';
@import '@radix-ui/themes/layout.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/slate.css';

.FormRoot {
  @apply w-full mt-10;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}

.FormLabel {
  @apply text-base;
}

.FormMessage {
  font-size: 13px;
  opacity: 0.8;
}

.Input,
.Textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  background-color: var(--black-a2);
  box-shadow: 0 0 0 1px var(--black-a6);
}

.Input:hover,
.Textarea:hover {
  box-shadow: 0 0 0 1px black;
}

.Input:focus,
.Textarea:focus {
  box-shadow: 0 0 0 2px black;
}

.Input::selection,
.Textarea::selection {
  background-color: var(--black-a6);
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.Textarea {
  resize: none;
  padding: 10px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a4);
}

.Button:hover {
  background-color: var(--mauve-3);
}

.Button:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxRoot:hover {
  background-color: var(--violet-3);
}

.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.DialogOverlay {
  background-color: var(--black-a9);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* switch */
.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &[data-state='checked'] {
    background-color: black;
  }
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;

  &[data-state='checked'] {
    transform: translateX(19px);
  }
}
